.App {
  text-align: center;
  margin: 20px;
}

.input {
  width: 10%;
  padding: 12px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.operation {
  display: flex;
  align-items: center;
}
